<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>295965277576-lbqc4ikhlqqbq9rquq5vbqpbrdls5rkj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.295965277576-lbqc4ikhlqqbq9rquq5vbqpbrdls5rkj</string>
	<key>API_KEY</key>
	<string>AIzaSyAl-tC4G5pTIMGBz1NQfOGrXB3bsBQYfEI</string>
	<key>GCM_SENDER_ID</key>
	<string>295965277576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Talon540</string>
	<key>PROJECT_ID</key>
	<string>talon540app-381bc</string>
	<key>STORAGE_BUCKET</key>
	<string>talon540app-381bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295965277576:ios:2e0b382923b10c37180e3d</string>
</dict>
</plist>